{% extends 'base.html' %}
{% block body %}
<h1>别整太大“鸭力”，要多“鸡力”自己</h1>

<h3>背景：青少年面对着一个五彩缤纷又错综复杂的社会。一方面是科学技术的日新月异，互联网正以迅雷不及掩耳之势，进入寻常百姓的生活。它们的出现和普及拓宽了新一代的视野，他们长出了“第三只手”、“第三只耳”。在他们眼中，世界变小了，地球变小了，人与人之间十分亲近；另一方面，高技术带来了高节奏、高竞争，高速度带来了高风险、高压力。这种压力通过成人社会用各种方式传递到青少年的日常生活之中。升学压力、学习压力时刻包围着尚处于发展定型阶段的青少年。随着年龄增长，扮演的角色越多，压力越大。所以，了解青少年的压力状态及其来源，有利于其健康成长。</h3>



<h2>{{ the_title1 }}</h2>

<!--大问题点击-->

<!-- 图一 -->
<form method="POST" action="/first" class='question'>
    <select name="the_element1_selected">
        {% for item in the_select_element1 %}
        <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
    </select>
    <p><input value='Do it!' type='SUBMIT'></p>
    {{ the_data_pie1|safe}}
    <div class='pie1'>{{ the_plot_all1|safe }}</div>
    <h4>数据分析</h4>
    <p>在压力频率调查中，有<b>超过8成</b>的青少年不时会有压力，并且<b>超过4成</b>的青少年一直有压力。青少年在遇到压力时倾向于<b>向朋友倾诉</b>。利用吃或者锻炼来排解压力也占有15%-20%。但利用喝酒或吃药排解的占了10%，这是一个不可忽视的关于青少年健康问题。至于谁会让青少年感到压力。主要是情侣、老师和其他因素。朋友给的压力比较少。作为父母的角色在美国并不是让青少年感到压力的主要人群。这与中国大概有些不同，美国的放养式教育与中国的不同，使之外国父母在孩子眼里可能维持着“慈母、慈父”形象。
    <h4>数据故事</h4>
    <p>对青少年施加压力最多的是情侣，这让我们不得不思考，美国儿童从小父母倡导的自由恋爱是不是需要如中国父母一样适当地关心一下孩子的感情生活。</p>

    <h2> {{the_title3 }}</h2>
    <h3>{{the_consult3}}</h3>

    <form method="POST" action="/first" class='map'>
        <select name="the_element3_selected">
            {% for item in the_select_element3 %}
            <option value={{item}}>{{ item }}</option>
            {% endfor %}
        </select>
        <p><input value='Do it!' type='SUBMIT'></p>
    
        {{ the_plot_all3|safe }}
        <h4>数据分析</h4>
        <p>从压力等级分布图可以看出<b>压力较大</b>的地区最多，且超过压力较大的地区超过7成。
        <p>只有三个地区压力较小，分别为Alaska、Connecticut、Florida。</p>
        <p>压力最大的地区都分布在美国的东部,分别为Wisconsin、Indiana、Kentucky和Virginia。其压力值都大于70</p>
        <h4>数据故事</h4>
        <p>针对压力分布的区域，为什么东部的青少年压力会如此大呢？</P>
        <p><b>学校绩点评定：</b>首先是Wisconsin以<b>威斯康星麦迪逊州立大学</b>为例。成绩与GPA的评分等级要求严格：A的比率相对比较低，一个班只有五分之一的学生可以拿到A。并且在别的洲，你的成绩是A-，GPA可以是3.75但在Wisconsin只可以是3.5。因此可以猜想学校绩点的评定会影响青少年的压力。</p>
        <p><b>工资水平：</b>接着Indiana,我们分析其最大的城市Indianapolis。在分析该城市之前我们先了解下美国的工资水平</p>
        <ul>
            <li>月薪1200-2000美元，属于低收入者。</li>
            <li>月薪2000-4500美元，属于技术性白领或有一定学位的职员。</li>
            <li>月薪上4500美元(3万人民币),属于金领阶层，为大学教授或医生</li>
        </ul>
        <p>Indianapolis住宿费每个月852美元，生活费每个月6857美元，而该城市平均每年收入为41987美元（约3499美元/月）。消费远远超过收入。所以一个青少年的读书费用将会加重一个家庭很大的负担。</p>
        <P>根据资料显示，福布斯杂志基于家庭收入，低失业率，收入增长水平，生活负担，工作增长水平等方面评为排名第六的城市。且房产贷款后无法赎回排联邦第12名。</p>
        <p><b>失业率：</b>Kentucky在2017年失业率为5%，平均家庭收入为45215，贫穷率为18.5%（第五高），是一个收入排名靠后，失业率和贫困率排名靠前的州</p>
        <p><b>教育水平：</b>根据美国教育部的教育发展评估报告显示，弗吉尼亚教育一直位列美国前10位，所有学科和各年级测试指标均超过美国大学的评估平均值。这给本州的学生必将带来不少的压力。再者除公立学校外，弗吉尼亚还设有州长学校和只招收拔尖学生的特别公立学校。州长学校从40多所地区高级中学挑选优秀学生，使得学生之间的竞争力加大，这也成为压力来源的一部分。</p>
        
        
        
        <h2 class='title2'>{{ the_title2 }}</h2>

        <form method="POST" action="/first" class='pic2'>
            <select name="the_element_selected">
                {% for item in the_select_element %}
                <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
            <p><input value='Do it!' type='SUBMIT'></p>

        
        <h3 class='consult'>{{the_consult}}</h3>

        {{ the_plot_all|safe }}
        <h4>数据分析</h4>
        <p>从父母、老师和情侣与压力程度的关系可以看出，<b>父母</b>给子女的压力占比是最小的，大致在0.1-0.18之间，老师给的压力居中，大致在0.2-0.3之间，<b>情侣给的压力最大</b>，大致在0.25-0.3之间，占比跨度小，总体大于老师给的压力。</p>
        <h4>数据故事</h4>
        <p>其中父母与老师两个变量的图形分析效果相近，其在青少年的成长担任的角色性质相近，更关心青少年的未来发展问题，老师相较于父母给出的建议会更加专业一些，且关乎到学生的成绩，所以相比之下老师给学生带来的压力可能就会大于父母给孩子的压力。总体上看父母与老师施加的压力随着压力程度增大占比越小，这让我想起了爸爸妈妈经常说的一句话“有人管你那是你的幸福，什么时候没人管你了，你就真的惨了！”比起生存压力，可能无人管顾，无人牵挂才是最让人悲伤和感到压力的吧。
            在这三幅图中，<b>情侣的压力占比与父母和老师的图形分析结果恰恰相反</b>，随着个人的压力程度会上升，情侣关系在压力中的占比增加。针对我们的研究有对象青少年来说，属于情窦初开，情绪易变化，所以难免会产生感情问题，自然会施加压力。在这段关系中与父母和老师与我们的关系是截然相反的，老师和父母是作为抚养着与培养着的角度，可以一心一意为你好，但是情侣更多的是一种相互的关系，情侣之间处于相对平等的状态。</p>
        <p>如今越来越多的青少年得抑郁症，并且到了难以痊愈的地步。而这个角色与压力程度的结合分析也给了我们一个新的提示，在青少年有一定的心理疾病时，医生可以先从其感情问题入手，找其原因。再者是学校的教育，最后是父母、其他这样的顺序。按照此顺序，应该可以更快找到其疾病的起因，及早治疗。</p>

        <h2 class='title4'>{{ the_title4 }}</h2>
        {{ the_plot_all4|safe }}
        <h4>数据分析</h4>
        <p>从折线图的变化可以看出利用吃、锻炼和向朋友倾诉来排解压力的青少年占比较多。其中发现District of Columbia与其他洲相比是最喜欢向朋友倾诉的，但却是比较不喜欢锻炼的。相反Hawaii最喜欢靠锻炼排解压力，但却是最不喜欢向朋友倾诉。
        <h4>数据故事</h4> 
        <p>据调查，在各洲八大消费类型计算中，Hawaii在医疗保健服务支持的PCE值是八项中最多，为0.87。运动能产生多巴胺，所以有些人也会选择锻炼身体来缓解压力。结合其喜欢运动来缓解压力。我认为健身运动业可以在Hawaii进行一定的投资，从其需求来看，这会是一个有发展潜力的市场。</p>


            <!--dash添加-->
        <iframe src="http://localhost:8015/" width=1500 height=600></iframe>
    {% endblock %}